html {
  height: 100%;
  background: #BBD2C5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #536976, #BBD2C5);
  background: linear-gradient(to right, #536976, #BBD2C5);
  font-family: 'PT Mono', monospace;
}
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.container {
  width: 400px;
  padding: 20px;
  background: black;
  color: white;
}
